*{
    font-family: 'Work Sans', sans-serif;
}


/* common styles */
h1, h2, h3, h4, ul{
    margin: 0;
    padding: 0;
}
.btn-primary{
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.text-primary{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}
.text-secondary{
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
}
.bold-text{
    font-weight: 700;
    font-size: 3rem;
}
.bold-text span{
    color: #d342fff7;
}


/* nav styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 40px 200px;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav-title h3{
    font-weight: 700;
    font-size: 3rem;
}
.nav-title img{
    width: 86px;
    height: 40px;
}
.nav-title>h3>span{
    color: #FF42A5;
}
.navigation{
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    color: #3C354F;
}
.navigation li{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-social-media{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px 20px;
}
.nav-social-media> img{
    height: 24px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.banner-elements{
    width: 901px;
    height: 700px;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 0;
    
    align-items: center;
}
.banner-elements h3{
    color: #0B0223;
    font-weight: 600;
    font-size: 3rem;
}
.banner-elements h1{
    font-size: 6.2rem;
    font-weight: 800;
    color: #d342fff7;
}
.banner-elements p{
   
    color: #534c64;
    font-weight: 500;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 12px;
}
.buttons{
    display: flex;
    gap: 24px;
}
.btn-sign-in{
    background-color: #FF42A5;
    color: #fff;
}
.btn-go{
    background-color: #4EC5F7;
    color: #fff;
}
.gamer-elements{
    max-width: 520px;
}


/* styles for we are gamer  */

.gamer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 66, 165, 0.03);
    width: 100%;

}
.gamer-elements{
    text-align: right;
}
.gamer-elements h3{
    color: #d342fff7;
}
.btn-know-more{
    color: #fff;
    background-color: #FF42A5;
}
.gamer-elements h4{
    font-weight: 700;
    font-size: 1.7rem;
    color: #534C64;
}

/* video card styles */

.video-card-title{
    text-align: center;
}
.video-card-title h2{
    color: #0B0223;
    margin-top: 120px;
}
.video-cards-container{
    display: flex;
    justify-content: space-around;
    margin: 50px 150px;
}
.card{
    width: 342px;
}
.card-body{
    width: 342px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.card-body:hover .card-btn{
    right: 0;
}
.card-body img{
    height: 100%;
    width: 100%;
}
.card-btn{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
   
}
.card-btn button{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #01309580;
    color: #FF42A5;
    font-weight: 600;
    font-size: 1.2rem;
    width: 342px;
    height: 400px;
    border: none;
    border-radius: 15px;
}
.card-btn button img{
    height: 84px;
    width: 84px;
    cursor: pointer;
}

/* play instant styles */
.play-instant-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.play-instant-elements{
    text-align: right;
    max-width: 380px;
    padding-bottom: 300px;
    
}

.badge-image{
    position: relative;
    bottom: 250px;
    right: 140px;
}
/* career styles */
.career{
    width: 100%;
    background-color: #FF42A5  ;
    color: #fff;
    height: 821px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.career-elements{
    max-width: 680px;
    margin-left: 240px;
}
.career-elements h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.career-elements p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.contents-career{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 40px;
}
.contents-career ul{
    list-style: none;
    gap: 5px;
}
.career-elements button{
    color: #FF42A5;
}

/* games section styles */
.games-container{
    width: 100%;
    background-color: rgba(255, 66, 164, 0.08);
    display: flex;
    justify-content: center;
}
.games-card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 200px;
    max-width: 1400px;
    flex-wrap: wrap;
    margin: 120px 0;
}
.games-card{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;
    height: 80px;
    border-radius: 50px;
    align-items: center;
    color: #0B0223;
    font-weight: 600;
    font-size: 1.2rem;
}

.games-card img{
    height: 60px;
    width: 60px;
    padding: 10px;
}
.games-card:hover{
    border: solid 2px #FF42A5;
    color: #FF42A5;
    cursor: pointer;
}
/* footer styles */
footer{
    width: 100%;
    height: 640px;
    background-color: #0B0223;
    
}
.footer-container{
    
    text-align: center;
    
}
.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 60px;
}
.footer-title img{
    width: 86.041px;
    height: 40px;
}
.footer-title h2{
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
    margin: 60px;
}
.footer-title h2 span{
    color: #FF42A5;
}
.footer-bottom-elements,.copy-right{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 1rem;
    gap: 60px;
    margin-bottom: 30px;
}
.footer-elements{
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    gap: 60px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 66px;
}



/* media query */

/* for mobile */
@media screen and (max-width: 576px) {
    .nav-container,
    .video-cards-container,
    .play-instant-container
    {
        flex-direction: column;
        margin: 50px auto;
        align-items: center;
        
    }
    .nav-title{
        justify-content: center;
        margin-bottom: 20px;
    }
    .navigation{
        flex-direction: column;
        text-align: center;
    }
    .nav-social-media{
        margin-top: 20px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-elements{
        width: 100%;
        background-size: cover;
        background-position: right;
    }
    .banner-pictures img{
        width: 100%;
    }
    .gamer-container{
        flex-direction: column;
        background-color: #fff;
    }
    .gamer-image img{
        width: 100%;
    }
    .gamer-elements, .play-instant-elements {
        text-align: center;
        padding-bottom: 0;
    }
    .play-instant-pictures{
        
        justify-content: right;
        padding-left: 40px;
    }
    .play-instant-pictures img{
        width: 85%;
        height: 86%;
    }
    .badge img{

        width: 150px;
        right: 30px;
        bottom: 100px;
    }
    
    .career{
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    .career-elements{
        margin: 0 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        
    }
    .career-image img{
        display: flex;
        justify-content: center;
        width: 95%;
    }
    .games-card-container{
        max-width: 100%;
        display: grid;
        grid-template-columns: 45% 45%;
        height: 10%;
    }
    .games-card{
        padding: 0;
        overflow: hidden;
    }
    .copy-right{
        max-width: 258px;
        margin: 5px auto;
        padding-bottom: 20px;
    }
    .footer-title h2{
        margin: 10px;
    }
    footer{
       
        height: 100%;
        
    }
    .footer-elements, .footer-icons, .footer-bottom-elements{
        flex-wrap: wrap;
        gap: 40px;
        max-width: 400px;
    }
}

/* for tablets */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-container,
    .play-instant-container
    {
        flex-direction: column;
        justify-content: center;
        
    }
    .nav-title{
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .navigation{
        justify-content: center;
        gap: 10px;
    }
    .nav-social-media{
        width: 120px;
      
    }
    .banner{
        flex-direction: column;
        gap: 20px;
    }
    .banner-elements{
        width: 90%;
        background-position: right;
        background-size: cover;
    }
    .banner-pictures img{
        width: 100%;
    }
    .gamer-container{
        flex-direction: column-reverse;
        background-color: #fff;
    }
    .gamer-image img{
        width: 100%;
    }
    .gamer-elements{
        text-align: right;
    }
    .video-cards-container{
        display: grid;
        grid-template-columns: 342px 432px;
        margin: 20px auto;
        gap: 24px;
        justify-content: start;
        margin-left: 10px;
    }
    .gamer-elements, .play-instant-elements {
        text-align: center;
        padding-bottom: 0;
    }
    .play-instant-pictures{
        
        justify-content: right;
        padding-left: 60px;
    }
    .badge-image{
        right: 60px;
    }
    .career{
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    .career-elements{
        margin: 20px;
    }
    .career-image img{
        display: flex;
        justify-content: center;
        width: 95%;
    }
    .games-card-container{
        height: 100%;
    }
    .footer-elements{
        gap: 40px;
    }
}
